{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
    <title>STICKER ON FACE</title>
    <link rel = "stylesheet" href="{% static 'css/login.css' %}">

    </head>
    <body class="main-page">
    <div class="main">
        <div class="main-top">
            <div class main-desc>
                <div class="mainimg">
                    <div class="subimg" id="subimg">
                        <img src="{% static 'img/mainimg1.JPG' %}">
                        <img src="{% static 'img/mainimg2.png' %}">
                        <img src="{% static 'img/mainimg3.png' %}">
                    </div>
                        <div id = "container_wrap">
                            <div class="container">
                            <header>
                                <a href="{% url 'user:main'  %}">
                                <img class = "brand_logo" src="{% static 'img/mainlogo2.JPG' %}" alt="logo"></a>
                            </header>
                                {% if not user.is_authenticated %}
                            <form id="login-form" name="login" action="{% url 'user:login' %}" method="post">
                                {% csrf_token %}
                                <div>
                                <label for="username"></label>
                                <input type="text" class="form-control" name="username" id="username" placeholder="id"
                                       value="{{ form.username.value|default_if_none:'' }}">
                                </div>
                                <div>
                                    <label for="password"></label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호"
                                           value="{{ form.password.value|default_if_none:'' }}">
                                </div>
                                <button class = "loginBtn" type="submit">로그인</button>
                            </form>
                            <div class="or_line">
                                <div class="line"></div>
                                <div class="text">또는</div>
                                <div class="line"></div>
                            </div>
                            <ul class="singup">
                                <li class ='text' style="font-size: 15px">아직 회원이 아니신가요??</li>
                                <br>
                                <li><a href="{% url 'user:signup' %}" >가입하기</a></li>
                            </ul>
                                {% endif %}
                            </div>

                        </div>
                </div>

            </div>

        </div>

    </div>

    <script src="{% static 'js/login.js' %}"></script>
</body>


{% endblock %}