{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
    <title>SIGN-UP</title>
    <link rel = "stylesheet" href="{% static 'css/signup.css' %}">
    </head>
    <body>
    <div class="join_container">
            <header class = "logo">
                <img class = "brand_logo" style="width: 100px" src="{% static 'img/mainlogo2.JPG' %}" alt="logo">
                <ul>
                    <li>당신의 사진을 꾸미고 싶으면</li>
                    <li> 가입하세요.</li>
                </ul>
            </header>
            <div class="or_line">
                <div class="line"></div>
                <div class="text">⬇⬇⬇</div>
                <div class="line"></div>
            </div>
                <form name="join" action="{% url 'user:signup' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email"></label>
                        <input class = "addEmail" type="text" name="email" id="email" placeholder="이메일 주소"
                               value="{{ form.email.value|default_if_none:'' }}">
                    </div>
                    <div>
                        <label for="username"></label>
                        <input class = "name"  name="username" type="text" id="username" placeholder="사용자 이름">
                    </div>
                    <div>
                    <label for="password1"></label>
                    <input class = "id" name="password1" type="password" id="password1" placeholder="비밀번호"
                    value="{{ form.password1.value|default_if_none:'' }}">
                      </div>
                     <div>
                    <label for="password2"></label>
                    <input class = "pw" name="password2" type="password" id="password2" placeholder="비밀번호 확인"
                           value="{{ form.password2.value|default_if_none:'' }}">
                      </div>
                    <button class = "joinBtn" type="submit">가입</button>
                </form>
    </div>



        <script src="{% static 'js/signup.js' %}"></script>
</body>



{% endblock %}